*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("forest.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    color: #B22222;
    font-size: 3em;
    font-weight: 800;
    display: flex;
    justify-content: center;
}
.wrapper{
    position: relative;
    width: 50%;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}
.container{
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
    width: 100%;
}
.convert{
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
    color: #B22222;
    font-size: 1.5em;
    font-weight: 600;
}
.currencies{
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
}
.input-submit{
    margin-top: 2em;
    width: 100%;
    height: 35px;
    background-color: #162938;
    color: whitesmoke;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1.5em;
    font-weight: 600;
}
select, input{
    border: none;
    outline: none;
    background: whitesmoke;
    border-radius: 6px;
}
#results{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5em;
    font-size: 23px;
    font-weight: 600;
    color: #162938;
}